* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: hsl(233, 47%, 7%);
}
.card-container {
    margin: 50px auto;
    width: 250px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.image-container {
    background-color: hsl(277, 64%, 61%);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
    .stats-img-desktop {
        display: none;
    }
}
.container {
    background-color: hsl(244, 37%, 16%);
    padding: 30px;
    h2 {
        font-family: 'inter';
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        font-size: 20px;
        text-align: center;
        #insight {
            color: hsl(277, 64%, 61%);
        }
    }
    p {
        font-family: 'inter';
        font-size: 11px;
        line-height: 19px;
        font-weight: 400;
        text-align: center;
        color: hsla(0, 0%, 100%, 0.75);
        margin-top: 15px;
    }
}
.stats {
    margin-top: 15px;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 5px;
    .stat-head {
        font-family: 'inter';
        font-size: 20px;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
    }
    .stat-value {
        font-family: 'lexend deca';
        text-transform: uppercase;
        font-weight: 400;
        font-size: 10px;
        color: hsla(0, 0%, 100%, 0.6);
    }
}

@media (min-width: 768px) {
    .card-container {
        width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .image-container {
        order: 2;
        .stats-img-desktop {
            display: block;
        }
        .stats-img-mobile {
            display: none;
        }
    }
    .container {
        padding: 30px;
        h2 {
            font-size: 20px;
            text-align: left;
        }
        p {
            text-align: left;
        }
    }
    .stat-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        order: 1;
        text-align: left;
        margin-top: 20px;
    }
    .stats {
        text-align: left;
    }
}